body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.outer-div{
  position:relative;
  height:80vh;
  width:500px;
  background:#D8D8D4;
  margin:auto;
  top:10vh;
  /* border:1px black solid; */
  border-radius:2rem;
  -webkit-box-reflect: below 0 linear-gradient( 80deg,transparent, white);
  box-shadow: 0 0 20px 1px black inset;
}
.inner-div{
  border:5px black solid;
  position:absolute;
  width:95%;
  left:1.5%;
  height:45%;
  top:5%;
  border-radius:0.8rem;
 
}
.background-img{
  background-image:url('https://www.popsci.com/resizer/QgEMm6gNVXFYEFCmonq-Tp9_D7g=/760x506/cloudfront-us-east-1.images.arcpublishing.com/bonnier/3NIEQB3SFVCMNHH6MHZ42FO6PA.jpg');
}
.button-div{
  position:absolute;
  background:white;
  top:52.5%;
  height:350px;
  width:350px;
  left:75px;
  border-radius:100%;
 
}
.buttons{
  position:absolute;
  border:none;
  background:none;
  color:#D8D8D4;
  font-size:2.5rem;
  /* border:1px solid black; */
}
#menu{
 top:10px;
  left:115px;
  -webkit-user-select: none;
}
#fast-forward{
left:290px;
top:150px;
}
#fast-backward{
  top:150px;
  left:15px;
}
#pause{
  top:280px;
  left:130px;
  -webkit-user-select: none;
  z-index:1;
}
.greyspace{
  position:absolute;
  background:#D8D8D4;
  height:200px;
  width:200px;
  border-radius:100%;
  left:75px;
  top:70px;

  
}
.border-08{
  border-bottom-left-radius: 0.8rem;
}
.screen-item{
  position: relative;
  border-top:1px solid grey;
  width:200px;
  padding:20px;
  top:-45px;
  
}
.main-heading{
  position:relative;
  width:240px;
background:white;
top:-23px;
border-top-left-radius: 0.8rem;
height: 90px;

vertical-align: middle;
}
.screen-item span{
  position:absolute;
  left:90%;
}
.white-bg{
  background: white;
}
#settings{
  position: absolute;
  height:100%;
  width:100%;
  border:1px black solid;
  text-align:center;
}
#settings h1{
  position: relative;
  font-size:4rem;
  margin:0;
  top:40px;
}
#cogs{
  font-size: 7rem  !important;
}
#coverflow{
  
  top:100px  !important;
}
.music-item{
  position: relative;
  border-top:1px solid grey;
  width:200px;
  padding:20px;
  top:0px;
  height:71px;
  vertical-align: middle;
  
}
.v-middle{
  position: relative;
  font-size: 1rem;
top:25px !important;
}
.music-item span{
  position:absolute;
  left:90%;
  top:45px;
}
.background-img-music{
  background-image: url('https://images.pexels.com/photos/3721941/pexels-photo-3721941.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500');
}
.border-08-tl{
border-top-left-radius: 0.8rem;
}